.jumbotron {
  background-image: url("Images/landing.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  margin: 0vh;
  padding-right: 0px;
  background-size: cover;
  font-family: 'Yatra One', cursive;
}

.dropbtn {
  background-color: #F15A29;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content will be hidden by default*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tworows {
  height: 100%;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yatra One', cursive;
}

.happy {
  height: 60px;
  margin: 0px;
  background-color: #f1e9e5;
  font-family: 'Yatra One', cursive;
}

.party {
  height: 60px;
  background-color: #ff7433;
  margin: 0px;
  font-family: 'Yatra One', cursive;
}

#breakfast {
  background-image: url(Images/breakfast.jpg);
  background-size: cover;
  padding: 50px;
  margin: 0px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

#lunch {
  background-image: url(Images/lunch.jpg);
  background-size: cover;
  padding: 50px;
  margin: 0px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

p {
  font-size: 17px;
}
