.jumbotron {
  background-image: url("../Images/landing.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  margin: 0vh;
  padding-right: 0px;
  background-size: cover;
  font-family: 'Yatra One', cursive;
}

.dropbtn {
  background-color: #F15A29;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content will be hidden by default*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tworows {
  height: 100%;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yatra One', cursive;
}

.happy {
  height: 60px;
  margin: 0px;
  background-color: #f1e9e5;
  font-family: 'Yatra One', cursive;
  color: black;
}

.party {
  height: 60px;
  background-color: #ff7433;
  margin: 0px;
  font-family: 'Yatra One', cursive;
  color: white;
}

#breakfast {
  background-image: url("../Images/breakfast.jpg");
  background-size: cover;
  padding: 50px;
  margin: 0px;
  color: white;
  font-family: 'Yatra One', cursive;
}

#lunch {
  background-image: url("../Images/lunch.jpg");
  background-size: cover;
  padding: 50px;
  margin: 0px;
  color: white;
  font-family: 'Yatra One', cursive;
}

#dinner {
  background-image: url("../Images/dinner2.jpg");
  background-size: cover;
  padding: 50px;
  margin: 0px;
  color: white;
  font-family: 'Yatra One', cursive;
}

.head {
  color: white;
  font-family: 'Yatra One', cursive;
  padding-left: 5%;
  font-size: 30px;
}

.body {
  color: white margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  margin-top: 0%;
  padding: 0;
}

.section {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  border: 3px solid white;
  font-family: 'Indie Flower', cursive;
}

.section 2 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  border: 3px solid white;
  margin-bottom: 50px;
  font-family: 'Indie Flower', cursive;
}

.table {
  background-image: url("../Images/foodsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin top: 50px;
  font-family: 'Indie Flower', cursive;
}
.gallery{
  background-color: white;
   width: 200px;
   border:  3px solid #ff7433;
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 50px;
   margin-left: 300px;
   font-family: 'Berkshire Swash', cursive;
}
