.jumbotron{
  background-image: url(../Images/landing.jpg);
  background-repeat: no-repeat;
  height:80vh;
  margin: 0vh;
  padding-right: 0px;
  background-size: cover;
  font-family: 'Yatra One', cursive;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
